<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <%# <h2><%= pluralize(task.errors.count, "error") %>
      <p>【エラー内容】 </p> 

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title,"タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body,"内容" %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
